%br
%br

/ .container{ style: 'width: 1160px; padding: 0 0 0 0;'}
.container{ style: 'width: 1000px; padding: 0 0 0 0;'}
  - if @tracks.present?
    .text-center
      = render partial: '/common/playall', locals: { tracks: @tracks, unique_ids: @unique_ids }
      %br
      - if current_user.blank?
        %br
        %p= link_to "Sign in", "/auth/twitter", class: 'btn btn-primary'
      %br
      = render partial: '/layouts/facebook_like'
      %br

    %table
      - @unique_ids.each_slice(4) do |ids|
        %tr
        - ids.each do |id|
          - track = @tracks_hash[id]
          %td{ style: 'padding: 5px;', id: "top_track_#{track.id}" }
            = render partial: '/common/video_thumbnail', locals: { track: track }
            - if current_user.present? and current_user.admin_flag
              = link_to "Hide", top_hide_path(track_id: track.id), remote: true, data: { update_target: "top_track_#{track.id}", confirm: "「#{track.id} : #{track.title}」をトップから非表示にします。よろしいですか？", method: 'delete' }, class: 'btn btn-danger btn-xs'
%br
