- # Play All
#track_list
  = render partial: '/playlists/tracks', locals: { playlist: playlist, tracks: tracks }

- # Track List
- tracks.each do |track|
  = image_tag track.thumbnail_url, width: "280", height: "157"
  = link_to "Delete", playlist_track_path(playlist_id: track.playlist_id, id: track.id), data: { confirm: "「#{track.title}」を削除します。よろしいですか？", method: 'delete', remote: true, update_target: "track_list" }
%br
%br

- # 検索フォーム
= form_tag search_playlist_path(id: playlist.id, word: word), method: :get, remote: :true, data: { update_target: 'search_result_area' } do
  = text_field_tag :word, word, { size: 50 }
  = submit_tag '検索', data: { disable_with: '検索' }, onclick: "$('#search_result_list').empty(); $('#search_result_area_loading').show();"

%br

- # 検索結果
#search_result_area
  #search_result_list
    = render partial: '/playlists/search_result', locals: { videos: videos, playlist: playlist, word: word }
  #search_result_area_loading{ style: 'display: none;' }
    = image_tag 'loading.gif', width: "64", height: "64"


/ - if videos.present?
/   %h2 検索結果

/   %p= render partial: '/common/pagination', locals: { list: videos }
/   %p= link_to 'Reload', playlist_path(playlist)

/   - videos.each do |v|
/     %span{ id: "add_video_#{v.unique_id}" }
/       = render partial: '/playlists/add_video', locals: { v: v, playlist: playlist, word: word }

/   %p= link_to 'Reload', playlist_path(playlist)
/   %p= render partial: '/common/pagination', locals: { list: videos }
