.container{ style: 'width: 900px'}
  %h3
    Tracks by
    = link_to current_user.name, "#{Settings.twitter_page}#{current_user.name}", target: "_blank"

.container{ style: 'width: 1000px; padding: 0 0 0 0;'}
  - if @tracks.present?
    .text-center
      = render partial: '/common/playall', locals: { tracks: @tracks, unique_ids: @unique_ids }
    %br
    %p.text-center= link_to 'Shuffle', all_playlists_path(checks: @checks), class: 'btn btn-primary'
    %br
    %table
      - @unique_ids.each_slice(4) do |ids|
        %tr
        - ids.each do |id|
          - track = @tracks_hash[id]
          %td{ style: 'padding: 5px;' }
            .track_list_title= link_to_if track.playlist.try(:name).present?, track.playlist.try(:name), playlist_path(track.playlist.id), class: 'gray', target: '_blank'
            = render partial: '/common/video_thumbnail', locals: { track: track }
%br
