%h1 プレイリスト編集

= form_for @playlist do |f|
  / = render partial: '/playlists/form', locals: { f: f }
  = f.text_field :name, size: 50, placeholder: 'Playlist Name'
  .actions
    = f.submit 'Update', data: { disable_with: 'Update' }

= link_to 'Show', @playlist
\|
= link_to 'Back', playlists_path
