.container{ style: 'width: 700px'}
  %h2 Playlists

  = form_for @playlist do |f|
    = f.text_field :name, class: 'form-control', placeholder: 'Playlist Name', style: 'width: 600px; float: left;'
    = f.submit 'Add', data: { disable_with: 'Add' }, class: 'btn btn-primary left_margin_10'
  %br
  / %p= link_to "Check Play", all_playlists_path, class: 'btn btn-primary'

  = form_tag all_playlists_path, method: 'get' do
    = submit_tag 'Check Play', class: 'btn btn-primary'
    %br
    %br
    - if @playlists.present?
      / = paginate @playlists, outer_window: 3

      %table.table.table-striped.table-hover{ style: 'width: 700px;'}
        %tr
          %th
            = check_box_tag "all_check", nil, false, id: "all_check"
            = label_tag "all_check", "All"
          %th Name
          %th Souce
          %th Tracks
          %th

        - @playlists.each.with_index(1) do |playlist, index|
          %tr
            %td{ style: 'text-align: center;' }
              = check_box_tag "checks[#{index}]", playlist.id, false, class: "playlist_check"
              / %td= index + @playlists.offset_value
              = label_tag "checks_#{index}", "#{index}"
            %td{ nowrap: true, style: 'line-height: 30px;' }= link_to playlist.name, playlist_path(playlist)
            %td{ nowrap: true, style: 'line-height: 30px;' }
              - if playlist.playlist.present?
                = link_to playlist.playlist.name, user_playlist_path(playlist.playlist.user_id, playlist.playlist_id)
            %td{ style: 'text-align: right;' }= playlist.track_count
            %td
              = link_to 'Edit', edit_playlist_path(playlist), class: 'btn btn-primary btn-sm'
              = link_to 'Delete', playlist, method: :delete, data: { confirm: "「#{playlist.name}」 is deleted. Are you sure?" }, class: 'btn btn-danger btn-sm'
    = submit_tag 'Check Play', class: 'btn btn-primary'

    / = paginate @playlists, outer_window: 3
%br
