.container{ style: 'width: 700px'}
  %h2 Playlists

  = form_for @playlist do |f|
    = f.text_field :name, class: 'form-control', placeholder: 'Playlist Name', style: 'width: 600px; float: left;'
    = f.submit 'Add', data: { disable_with: 'Add' }, class: 'btn btn-primary left_margin_10'
  %br
  %br

  - if @playlists.present?
    %table.table.table-striped.table-hover{ style: 'width: 700px;'}
      %tr
        %th Name
        %th Souce
        %th

      - @playlists.each do |playlist|
        %tr
          %td{ nowrap: true, style: 'line-height: 30px;' }= link_to playlist.name, playlist_path(playlist)
          %td{ nowrap: true, style: 'line-height: 30px;' }
            - if playlist.playlist.present?
              = link_to playlist.playlist.name, user_playlist_path(playlist.playlist.user_id, playlist.playlist_id)
          %td
            = link_to 'Edit', edit_playlist_path(playlist), class: 'btn btn-primary btn-sm'
            = link_to 'Delete', playlist, method: :delete, data: { confirm: "「#{playlist.name}」 is deleted. Are you sure?" }, class: 'btn btn-danger btn-sm'
%br
