%h1 プレイリスト一覧

%table
  %tr
    %th User
    %th Name
    %th Playlist
    %th
    %th

  - @playlists.each do |playlist|
    %tr
      %td= playlist.user.try(:name)
      %td= link_to playlist.name, playlist
      %td= playlist.playlist.try(:name)
      %td= link_to 'Edit', edit_playlist_path(playlist)
      %td= link_to 'Destroy', playlist, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Playlist', new_playlist_path
