
%h2= link_to @playlist.name, playlist_path(@playlist)

%h4
  Selected by
  = @playlist.user.try(:name)

- # Play All
#tracks
  = render partial: '/playlists/tracks', locals: { playlist: @playlist, tracks: @tracks }
%br
%br

- # 検索フォーム
= form_tag search_playlist_path(id: @playlist.id, word: @word), method: :get, remote: :true, data: { update_target: 'search_result_area' } do
  = text_field_tag :word, @word, { size: 50 }
  = submit_tag '検索', data: { disable_with: '検索' }, onclick: "$('#search_result_list').empty(); $('#search_result_area_loading').show();"

%br

- # 検索結果
#search_result_area
  = render partial: '/playlists/search_result', locals: { videos: @videos, playlist: @playlist, word: @word }

%br

= link_to 'Edit', edit_playlist_path(@playlist)
\|
= link_to 'Back', playlists_path
