.container{ style: 'width: 900px'}
  %h2= link_to @playlist.name, playlist_path(@playlist)

  %h4
    Selected by
    = @playlist.user.try(:name)

- # Play All
#tracks
  = render partial: '/playlists/tracks', locals: { playlist: @playlist, tracks: @tracks, unique_ids: Track.unique_ids(@tracks, shuffle: params[:shuffle]) }
%br
%br

.container{ style: 'width: 700px;' }
  - # 検索フォーム
  = form_tag search_playlist_path(id: @playlist.id, word: @word), method: :get, remote: :true, data: { update_target: 'search_result_area' } do
    = text_field_tag :word, @word, { class: 'form-control', style: 'width: 550px; float: left' }
    = submit_tag 'Search', data: { disable_with: 'Search' }, onclick: "$('#search_result_list').empty(); $('#search_result_area_loading').show(); window.history.pushState(null, null, '#{playlist_path(@playlist, search: true)}');", class: 'btn btn-primary left_margin_10'

%br

.container{ style: 'width: 700px;'}
  - # 検索結果
  #search_result_area
    = render partial: '/playlists/search_result', locals: { videos: @videos, playlist: @playlist, word: @word }
  %br
  .text-right
    = link_to 'List', playlists_path, class: 'btn btn-default'
    = link_to '↑', '#', class: 'btn btn-default'
