- # 公開用プレイリストページ

- title [Settings.app_name, @playlist.name]
- description @playlist.tracks.first.try(:description)
- keywords @playlist.tracks.pluck(:title)
- set_meta_tags og: { title: [Settings.app_name, @playlist.name].join(' | '), description: @playlist.tracks.first.try(:description), url: request.url, image: @playlist.tracks.first.try(:thumbnail_url) }

.container{ style: 'width: 900px'}
  %h2= link_to @playlist.name, playlist_path(@playlist)

  %h4
    Selected by
    = @playlist.user.try(:name)

    - if @playlist.playlist_id.present?
      = ", From"
      = link_to @playlist.playlist.name, tracks_playlist_path(@playlist.playlist_id)

    = render partial: '/layouts/amazon_link', locals: { playlist: @playlist }

  - # Play All
  .text-center
    = render partial: '/common/playall', locals: { tracks: @playlist.tracks, unique_ids: @unique_ids }
    %br
    %br
    %p
      - if current_user.present?
        - # シャッフル
        = link_to 'Shuffle', tracks_playlist_path(@playlist, shuffle: true), class: 'btn btn-primary'

        - # フォーク
        - fork_playlist = Playlist.mine(current_user).find_by(playlist_id: @playlist.id)
        - if fork_playlist.present?
          - # フォーク済みプレイリストへのリンク
          = link_to 'Fork', playlist_path(fork_playlist), class: 'btn btn-primary'
        - else
          - # フォーク実行
          = link_to 'Fork', fork_playlist_path(@playlist), method: :post, class: 'btn btn-primary'
      - else
        - # ログイン
        = link_to 'Sign in', "/auth/twitter", class: 'btn btn-primary'

      - # 作成者用プレイリストページへのリンク
      - if @playlist.mine?(current_user)
        = link_to 'Edit', playlist_path(@playlist), class: 'btn btn-primary'
    %br

.container{ style: 'width: 1000px; padding: 0 0 0 0;'}
  - if @playlist.tracks.present?
    - # Track List
    %table
      - tracks_hash = @playlist.tracks.index_by{ |x| x.unique_id }
      - @unique_ids.each_slice(4) do |ids|
        %tr
        - ids.each do |id|
          - track = tracks_hash[id]
          %td{ style: 'padding: 5px;' }
            %div.gray.track_list_title= track.title
            = render partial: '/common/video_thumbnail', locals: { track: track }
%br
%br
