!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= Settings.app_name
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{ 'data-no-turbolink' => true }
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        = link_to Settings.app_name, :root, class: 'navbar-brand title_logo'
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          - if signed_in?
            %li= render partial: '/layouts/user_icon', locals: { user: current_user, size: "18x18", klass: "margin_minus2" }
            %li= link_to "Playlist", playlists_path
            %li= link_to "Sign out", logout_path
          - else
            %li= link_to "Sign in with Twitter", "/auth/twitter"
    .container
      .page_top_margin
        = simple_format(flash[:notice], style: "color: green;") if flash[:notice].present?
        = simple_format(flash[:alert], style: "color: red;") if flash[:alert].present?
        = yield
      %br/
      %br/
      %br/
    .text-center
      Developed by
      %a{ href: "https://twitter.com/#{Settings.programmer_twitter_id}/", target: "_blank" }
        @#{Settings.programmer_twitter_id}
      / Designed by
      / = succeed "," do
      /   %a{:href => "https://twitter.com/#{Settings.designer_twitter_id}/", :target => "_blank"}
      /     @#{Settings.designer_twitter_id}
      / Licence by
      / %a{:href => "https://creativecommons.org/licenses/by-nc-sa/2.1/jp/", :target => "_blank"} CC BY-NC-SA 2.1
    %br/
    %br/
