!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = render partial: '/layouts/google_analytics' if Rails.env.production?
    = display_meta_tags(default_meta_tags)
  %body{ 'data-no-turbolink' => true }
    = render partial: '/layouts/facebook_like_script'
    .navbar.navbar-default.navbar-fixed-top
      .navbar-header
        = link_to Settings.app_name, :root, class: 'navbar-brand title_logo'
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          - if signed_in?
            %li= render partial: '/layouts/user_icon', locals: { user: current_user, size: "18x18", klass: "margin_minus2" }
            %li{ class: (playlists_active?(params) ? 'active' : '') }= link_to "Playlists", playlists_path
            / %li{ class: (play_all_active?(params) ? 'active' : '') }= link_to "Play all", all_playlists_path
            %li{ class: (recent_active?(params) ? 'active' : '') }= link_to "Recent", recent_playlists_path
            %li{ class: (popular_active?(params) ? 'active' : '') }= link_to "Popular", popular_playlists_path
            / %li= link_to "Goods", goods_path
            / %li= link_to "Users", users_path
            %li= link_to "Sign out", logout_path
          - else
            %li{ class: (recent_active?(params) ? 'active' : '') }= link_to "Recent", recent_playlists_path
            %li{ class: (popular_active?(params) ? 'active' : '') }= link_to "Popular", popular_playlists_path
            / %li= link_to "Users", users_path
            %li= link_to "Sign in", "/auth/twitter"
          %li= link_to "Feedback", "https://twitter.com/intent/tweet?text=#{URI.encode('#funbox ' + request.url)}", target: '_blank'
    .page_top_margin
      - if flash[:notice].present? or flash[:alert].present?
        %br
        = simple_format(flash[:notice], style: "color: green;") if flash[:notice].present?
        = simple_format(flash[:alert], style: "color: red;")    if flash[:alert].present?
      = yield
    %br/
    %br/
    %br/
    .text-center
      = render partial: '/layouts/facebook_like'
      %br
      %br
      Developed by
      %a{ href: "https://twitter.com/#{Settings.programmer_twitter_id}/", target: "_blank" }
        @#{Settings.programmer_twitter_id}
      / Designed by
      / = succeed "," do
      /   %a{:href => "https://twitter.com/#{Settings.designer_twitter_id}/", :target => "_blank"}
      /     @#{Settings.designer_twitter_id}
      / Licence by
      / %a{:href => "https://creativecommons.org/licenses/by-nc-sa/2.1/jp/", :target => "_blank"} CC BY-NC-SA 2.1
    %br/
    %br/
